{extend name="mould:base" /}
{block name="title"}{$title}{/block}
{block name="author"}{/block}
{block name="keywords"}{/block}
{block name="description"}{/block}
{block name="css"}
<style type="text/css">
.media{ border-bottom: 1px solid #ddd; }
.media h5 a{color: #07913a;}
.media h5 a:hover{color: #ea5413}
.media img{ width: 180px; }
.media p{ font-size: .875rem; color: #666 }
.media .meta{ font-size: .75rem; padding-right: 20px; }
.media .meta a{}

@media screen and (max-width: 576px) {
	.media h5{ font-size: .875rem; margin-bottom: .2rem; line-height: 1.2rem }
	.media h5 a{ font-size: .875rem;}
	.media img{ width: 90px; height: 60px; }
	.media .media-body > p{ display: none; }

	.media .media-body .meta span.date{ float: left; }
	.media .media-body .meta span.detail{ display: none; }

}

</style>
{/block}
{block name="content"}
	<div class="container">
		<div class="row">
	        <div class="col-sm-9 main-area">
				{volist name="list" id="vo"}
					<div class="media mb-3 pb-3">
						<a href="{:url('index/Document/reader',['id'=>$vo.id])}" target="_blank" title="{$vo.title}"><img class="mr-3" src="/data/images/{$vo.cover}" alt="{$vo.title}"></a>
						<div class="media-body">
							<h5 class="mt-0"><a href="{:url('index/Document/reader',['id'=>$vo.id])}" target="_blank" title="{$vo.title}">{$vo.title}</a></h5>
							<p>{$vo.description}</p>
							<div class="meta text-muted text-right">
								<span class="date">{$vo.create_time|date="m月d日 H:i"}</span><span class="view">&nbsp;&nbsp;浏览：{$vo.view}</span><span class="detail">&nbsp;&nbsp;<a href="{:url('index/Document/reader',['id'=>$vo.id])}" target="_blank">详情内容</a></span>
							</div>
						</div>
					</div>
				{/volist}
	        </div>
	        <aside class="col-sm-3 ml-sm-auto main-sidebar">
				{:widget('Widgets/documentsidebar')}
	        </aside><!-- /.blog-sidebar -->
	    </div>


	</div>
{/block}
{block name="script"}
{/block}
