{extend name="mould:base" /}
{block name="title"}{$data.title}{/block}
{block name="author"}{/block}
{block name="keywords"}{$data.keywords}{/block}
{block name="description"}{$data.keywords}{/block}
{block name="css"}
<style type="text/css">

</style>
{/block}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-sm-9 main-area">
            <div class="main-content">
              	<h2>{$data.title}</h2>	
              	<p class="meta">{$data.create_time|date="Y年m月d日 H:i"} &nbsp;&nbsp;作者：{$data.author} &nbsp;&nbsp;责编：{$data.editor} &nbsp;&nbsp;浏览：{$data.view} &nbsp;&nbsp;来源：{$data.source} </p>
                <hr>
                <div class="document-content">
                  	<div>
                  		  {notempty name="$data.extend"}
                  			   {$data.extend.content|raw}
                  		  {/notempty}
                  	</div>
                </div>
            </div>
            <div class="bw-pagination">
                <div class="row ">
                    <div class="col-6 col-sm-6 col-lg-12 prev">
                        <a class=" {eq name="$data.prevData.id" value="0"} disabled{/eq}" href="{:url('index/Document/reader',['id'=>$data.prevData.id])}"><span>上一篇</span><i>：{$data.prevData.title}</i></a>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-12">
                        <a class=" {eq name="$data.nextData.id" value="0"} disabled{/eq}" href="{:url('index/Document/reader',['id'=>$data.nextData.id])}"><span>下一篇</span><i>：{$data.nextData.title}</i></a>
                    </div>
                </div>
            </div>

        </div>
        <aside class="col-sm-3 ml-sm-auto main-sidebar">
            {:widget('Widgets/documentsidebar')}
        </aside><!-- /.blog-sidebar -->
    </div>
</div>
{/block}
{block name="script"}
{/block}
