{extend name="mould:base" /}
{block name="title"}{$data.title}{/block}
{block name="author"}{/block}
{block name="keywords"}{$data.keywords}{/block}
{block name="description"}{$data.keywords}{/block}
{block name="css"}
<style type="text/css">

</style>
{/block}
{block name="content"}
<div class="container">
	<div class="row">
        <div class="col-sm-9 main-area">
            <div class="main-content">
              	<h2>{$data.title}</h2>	
              	<p class="meta">{$data.create_time|date="Y年m月d日 H:i"} &nbsp;&nbsp;作者：{$data.author} &nbsp;&nbsp;责编：{$data.editor} &nbsp;&nbsp;浏览：{$data.view} &nbsp;&nbsp;来源：{$data.source} </p>
                <hr>
                <div class="document-content">
                  	<div>
                  		  {notempty name="$data.extend"}
                  			   {$data.extend.content|raw}
                  		  {/notempty}
                  	</div>
                </div>
                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary {if condition="is_numeric($data.previd)"}{else /} btn-outline-secondary disabled{/if}" href="{:url('index/Document/reader',['id'=>$data.previd])}">上一篇</a>
                    <a class="btn btn-outline-primary {if condition="is_numeric($data.nextid)"}{else /} btn-outline-secondary disabled{/if}" href="{:url('index/Document/reader',['id'=>$data.nextid])}">下一篇</a>
                </nav>
        </div>
        </div>
        <aside class="col-sm-3 ml-sm-auto main-sidebar">
            <div class="sidebar-module sidebar-module-inset pt-3">
                <h4>关于</h4>
                <p>本系统是一款基于ThinkPHP5.1.* + layui2.2.5 + Mysql开发的后台管理框架，PHP版本要求提升到5.6，系统集成了一般应用所必须的功能模块，为开发者减少重复性的工作，提升开发速度，规范团队开发模式。</p>
            </div>
            <div class="sidebar-module">
                <h4>文档归类</h4>
                <ol class="list-unstyled">
                    {volist name="gl" id="gvo"}
                        <li><a href="{:url('index/Document/lists', ['month' => $gvo['month']])}">{$gvo.month|strtotime|date="Y年m月"} [{$gvo.count}]</a></li>
                    {/volist}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->
    </div>
</div>
{/block}
{block name="script"}
{/block}
