{extend name="mould:base" /}
{block name="title"}管理员列表{/block}
{block name="content"}
<div class="table-item-search-area">
  <div class="layui-btn-group demoTable">
    <button class="layui-btn layui-btn-sm" data-type="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" data-type="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" data-type="isAll">验证是否全选</button>
  </div>
  <div class="search-area" style="float: right;">
    搜索ID：
    <div class="layui-inline">
      <input name="id" class="layui-input" data-like="1">
    </div>
    <button class="layui-btn layui-btn-sm" data-type="search">搜索</button>
    <button class="layui-btn layui-btn-sm" data-type="allShow">全部</button>
  </div>
</div>
<table class="layui-hide" id="table_list" lay-filter="#table_list" data-url="{:url('lists')}">
    <thead>
        <tr>
            <th lay-data="{checkbox: true, fixed: true}"></th>
            {if condition="$Think.session.manager_id eq 1"}
              <th lay-data="{field:'id',title:'ID', width:70, sort: true}">ID</th>
              <th lay-data="{field:'uid',title:'UID', width:70, sort: true}">ID</th>
            {/if}
            <th lay-data="{field:'username',title:'用户名', width:100}">用户名</th>
            <th lay-data="{field:'nickname',title:'昵称', width:120, sort: true}">昵称</th>
            <th lay-data="{field:'realname',title:'姓名', width:120}">姓名</th>
            <th lay-data="{field:'email',title:'邮箱'}">邮箱</th>
            <th lay-data="{field:'mobile',title:'手机号', width:120}">邮箱</th>
            <th lay-data="{field:'login_time',title:'登录时间', width:150}">登录时间</th>
            <th lay-data="{field:'member_create_time',title:'创建时间', width:150}">创建时间</th>
            <th lay-data="{field:'status',title:'状态', width:80, sort: true, templet: '#switchTpl'}"}">状态</th>
            <th lay-data="{fixed:'right', title:'操作', width:260, align:'center', toolbar: '#toolbar'}">操作</th>
        </tr>
    </thead>
</table>
{:widget('Widgets/updatestatus')}
{:widget('Widgets/tabletoolbar',['v'=>1,'e'=>1,'d'=>1])}


{/block}

{block name=""}
<script type="text/javascript">
    
    form.on('switch(filter)', function(data){
  console.log(data.elem); //得到checkbox原始DOM对象
  console.log(data.elem.checked); //开关是否开启，true或者false
  console.log(data.value); //开关value值，也可以通过data.elem.value得到
  console.log(data.othis); //得到美化后的DOM对象
});  
</script>
{/block}