{extend name="mould:base" /}
{block name="title"}后台首页{/block}
{block name="content"}
<form action="{:url('password')}" method="post" class="cy-ajaxForm cy-form" data-validate="true">
	{:widget('Widgets/form', ['type'=>'password','title'=>'密码','field'=>'password','placeholder'=>'密码'])}
	{:widget('Widgets/form', ['type'=>'password','title'=>'确认密码','field'=>'password_confirm','placeholder'=>'确认密码'])}
    {:widget('Widgets/button', ['field'=>'id','value'=>$one.id,'buttontext'=>'保存'])}
</form>
<script type="text/javascript">
	var userValidate = {
	    rules: {
	        'password':{
	        	required:true,
	        	minlength:6
	        },
	        'repassword':{
	            required:true,
	            minlength:6,
	            equalTo:'#password',
	        },
	        // 'repassword':{
	        // 	required:true,
	        // 	equalTo:"#password"
	        // }
	        
	    }, 
	    messages: {
	        'password':{
	        	required:'请填写密码',
	        	minlength:'密码长度不够'
	        },
	        'repassword':{
	            required:'请填写确认密码',
	            minlength:'密码长度不够',
	            equalTo:'确认密码不一样'
	        },
	        // 'repassword':{
	        // 	required:'请填写确认密码',
	        // 	equalTo:'确认密码有误'
	        // }
	    }
	};
</script>
{/block}