{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('password')}" method="post" class="layui-form" role="form">
	{:widget('Widgets/form', ['type'=>'password','title'=>'原密码','name'=>'oldpassword','elementid'=>'oldpassword','placeholder'=>'原密码','layverify'=>'oldpassword|required'])}
	{:widget('Widgets/form', ['type'=>'password','title'=>'新密码','name'=>'password','elementid'=>'password','placeholder'=>'用户密码','layverify'=>'password|required'])}
	{:widget('Widgets/form', ['type'=>'password','title'=>'确认新密码','name'=>'password_confirm','elementid'=>'password_confirm','placeholder'=>'确认新密码','layverify'=>'password|required'])}
    {:widget('Widgets/button', ['name'=>'id','field'=>'id','value'=>$one.id,'buttontext'=>'保存'])}
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use(['form'], function(){
	var form = layui.form
  	,layer = layui.layer;

	form.verify({
		oldpassword: [/(.+){6,12}$/, '原密码必须6到12位']
	    ,password: [/(.+){6,12}$/, '密码必须6到12位']
	    ,password_confirm: [/(.+){6,12}$/, '确认密码必须6到12位']
    
  	});

});
</script>
{/block}