{extend name="mould:base" /} {block name="title"}{/block}
{block name="content"}
<div class="table-item-search-area">
    <div class="search-area" style="float: right;">
        搜索ID：
        <div class="layui-inline">
            <input name="id" class="layui-input" data-like="1">
        </div>
        标题 ：
        <div class="layui-inline">
            <input name="title" class="layui-input" data-like="1">
        </div>
        <button class="layui-btn layui-btn-sm" data-type="search">搜索</button>
        <button class="layui-btn layui-btn-sm" data-type="allShow">全部</button>
        <a href="{:url('sync',['mpid'=>input('mpid')])}" class="layui-btn layui-btn-sm" data-type="syncFollow" data-url="">同步微信数据</a>
    </div>
</div>
<table class="layui-hide" id="table_list" lay-filter="#table_list" data-url="{:url('',['mpid'=>input('mpid')])}">
    <thead>
        <tr>
            <th lay-data="{checkbox: true, fixed: true}"></th>
            <th lay-data="{field:'id',title:'ID', width:70, sort: true}">ID</th>
            <th lay-data="{field:'nickname',title:'标题'}">标题</th>
            <th lay-data="{field:'sex',title:'分类', width:120, sort: true}">分类</th>
            <th lay-data="{field:'country',title:'发布者', width:80}">发布者</th>
            <th lay-data="{field:'province',title:'发布时间', width:160}">发布时间</th>
            <th lay-data="{field:'city',title:'状态', width:80, sort: true, toolbar: '#updatestatus'}" } ">状态</th>
            <th lay-data="{fixed: 'right', title: '操作', width:280, align: 'center', toolbar: '#toolbar'} ">管理操作</th>
        </tr>
    </thead>
</table>
{:widget('Widgets/updatestatus')}
{:widget('Widgets/tabletoolbar',['v'=>1,'e'=>1,'d'=>1])}
{/block}