@charset "UTF-8";
/**
 * 
 * @authors SpringYang (ceroot@163.com)
 * @date    2017-01-18 10:12:56
 * @version $Id$
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 130px;
    background: #f0f0f0;
    /*font-size: .875rem; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f5f5f5;
}

a{ color: #333 }
a:hover{ text-decoration: none; color: #07913a; transition: all .3s; }

/* 一些高度 */
.hr-0 	{ height:0px; }
.hr-1 	{ height:1px; }
.hr-2 	{ height:2px; }
.hr-3 	{ height:3px; }
.hr-4 	{ height:4px; }
.hr-5 	{ height:5px; }
.hr-6 	{ height:6px; }
.hr-7 	{ height:7px; }
.hr-8 	{ height:8px; }
.hr-10 	{ height:10px; }
.hr-12 	{ height:12px; }
.hr-15 	{ height:15px; }
.hr-20 	{ height:20px; }
.hr-25 	{ height:25px; }
.hr-30 	{ height:30px; }
.hr-40 	{ height:40px; }
.hr-50 	{ height:50px; }
.hr-0, .hr-1, .hr-2, .hr-3, .hr-4, .hr-5, .hr-6, .hr-7, .hr-8, .hr-10, .hr-12, .hr-15, .hr-20, .hr-25, .hr-30, .hr-40, .hr-50 { font-size:1px; line-height:1px; clear:both; }

body > .main {
  padding-top: 66px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    /*line-height: 60px; /* Vertically center the text there */
    line-height: 24px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    font-size:.75rem;
    line-height: 1.25rem;
}

.main-area{
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    padding: 15px;
    /*padding-bottom: 15px;*/
    border-radius: 4px;

    /*border:1px solid #e6e6e6;*/
}

.main-content{ }
.main-content h2{}
.main-content > .meta{ font-size: .75rem; color: #999;  }
.document-content{ font-size: .875rem;}
.document-content img{ max-width: 100%; }

.main-sidebar{box-shadow: 0 1px 2px 0 rgba(0,0,0,.05); background: #fff;}

.bw-pagination{}
.bw-pagination i{ font-style: normal; }
.bw-pagination a.disabled{ pointer-events: none; color: #868e96 }


@media screen and (max-width: 576px) {
    .main-content h2{ font-size: 1.25rem; }
    .main-sidebar{ margin-top: 15px; }

    .bw-pagination{ border-top: 1px solid #ddd; padding-top: 10px }
    .bw-pagination a{ display: block; text-align: center; }
    .bw-pagination .prev{ border-right: 1px solid #ddd }
    .bw-pagination i{ display: none; }

}

