{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('renew')}" method="post" class="layui-form" data-validate="true">
    {:widget('Widgets/form', ['type'=>'text','title'=>'角色名称：','name'=>'title','value'=>$one.title,'elementid'=>'title','layverify'=>'required','placeholder'=>'请填写角色名称'])}
    {:widget('Widgets/form', ['type'=>'radio','title'=>'状态','name'=>'status','value'=>$one.status,'elementid'=>'status','datalist'=>[['value' => '1', 'title' => '启用'],['value' => '0', 'title' => '禁用']],'aux'=>'（启用|禁用开关）'])}
    {:widget('Widgets/button', ['name'=>'id','value'=>$one.editid,'buttontext'=>'保存'])}
</form>
<script type="text/javascript">
var userValidate = {
    rules: {
        'title':{
            required:true
        }
    }, 
    messages: {
        'title':{
            required:'请填写规则名称'
        }
    }
};

</script>
{/block}