{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<style type="text/css">
fieldset{padding:.35em .625em .75em;margin:0 2px; border:1px dotted silver}
legend{padding:.5em; border:0; width:auto; font-size: 1rem;}
legend label{ margin: 0; margin-right:15px; word-wrap: break-word; word-break: break-all; line-height: 24px;}
h5{ font-family: "微软雅黑"; background: #f1f1f1; padding-top: 5px}

</style>
<form action="{:url('rule',array('rule'=>1))}" method="post" class="layui-form" lay-filter="rules">
	<table width="100%" class="table_form"> 
	   	{volist name='rules' id='node1'}
	        <tr>
		        <td style="border:1px dotted #ccc; margin-bottom: 10px; padding: 10px;">
		            <h5>
		            	<input id='node{$node1.id}' pid='0' type="checkbox" value="{$node1.id}" name="rules[{$node1.id}]" {in name='node1.id' value='$field["rules"]'}checked = 'checked' {/in} title="{$node1.title}{$node1.id}" lay-skin="primary" lay-filter="rules"/>
		            </h5>
		            {volist name='node1._data' id='node2'}
			        	<fieldset>
			                <legend>
			                	<input id='node{$node2.id}' pid='{$node1.id}' cid="{$node2.id}" type="checkbox" value="{$node2.id}" name="rules[{$node2.id}]" {in name='node2.id' value='$field["rules"]'}checked = 'checked' {/in} title="{$node2.title}{$node2.id}" lay-skin="primary" lay-filter="rules"/>
			                </legend>
			                <div class="" style="padding-left: 10px;">
			                	{volist name='node2._data' id='node3'}
			                        <input pid='{$node1.id}' type="checkbox" value="{$node3.id}" class='node{$node2.id}' name="rules[{$node3.id}]" {in name='node3.id' value='$field["rules"]'}checked = 'checked' {/in} title="{$node3.title}{$node3.id}" lay-skin="primary" lay-filter="rules"/>
			    				{/volist}
			    			</div>
			           </fieldset>
		    		{/volist}
		        </td>
		    </tr>
		{/volist}
	</table>
	{:widget('Widgets/button', ['name'=>'id','value'=>$field.editid,'buttontext'=>'保存'])}
</form>

{/block}
{block name="script"}
<script type="application/javascript">
$(function(){

layui.use('form', function(){
	var form = layui.form;
	form.on('checkbox(rules11111)', function(data){
		console.log(data.elem); //得到checkbox原始DOM对象
		//console.log(data.elem.checked); //是否被选中，true或者false
		//console.log(data.value); //复选框value值，也可以通过data.elem.value得到
		//console.log(data.othis); //得到美化后的DOM对象
		// form.render(null, 'rules');
		
	});

});

layui.use('form', function(){
	var form = layui.form;
	//全选
	$('#checkbox-all').click(function(){
		$("input[type='checkbox']").prop("checked", true);
		form.render('checkbox','rulesd');
	});
	//反选
	$('#checkbox-reverse').click(function(){
		$("input[type='checkbox']").prop("checked", function(index, attr){
			return !attr;
		});
		form.render('checkbox','rulesd');
	});
});


	layui.use('form', function(){
		var form = layui.form;
		$('body').on('click','.layui-form-checkbox',function(){

			var _self   = $(this);
			var _input  = _self.siblings('input');
			var _value  = _input.val();
			var _pid    = _input.attr('pid');
			var _cid 	= _input.attr('cid');
			var _class  = _input.attr('class');

			console.log('value:'+_value);
			console.log('pid:'+_pid);
			console.log('cid:'+_cid);
			console.log('class:'+_class);


			if(_input.is(':checked')){
				$('[pid='+_value+']').prop('checked',true);
				$('.'+_value).prop('checked',true);
			}else{
				$('[pid='+_value+']').prop('checked',false);
				$('.'+_value).prop('checked',false);
			}

			if($('.'+_class+':checked').length > 0){
				$('#'+_class).prop('checked',true);
			}else{
				$('#'+_class).prop('checked',false);
			}

			if($('[pid='+_pid+']:checked').length > 0){
				$('#node'+_pid).prop('checked',true);
			}else{
				$('#node'+_pid).prop('checked',false);
			}

			if($('[cid='+_cid+']:checked').length > 0){
				$('.node'+_cid).prop('checked',true);
			}else{
				$('.node'+_cid).prop('checked',false);
			}

			form.render('checkbox','rules');
		});
	});
})
</script>
{/block}