{extend name="mould:base" /}
{block name="title"}{/block}
{block name="css"}
<style type="text/css">
	.layui-input-block {
	    margin-left: 50px;
	    min-height:auto;
	}

	.status{ display: inline-block; vertical-align: bottom; color: #5FB878;}
	.status i{ display: none; }

</style>
{/block}
{block name="content"}

<form action="{:url('cache')}" method="post" class="layui-form">
	<div class="layui-form-item" pane="">
        <div class="layui-input-block">选择更新</div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['Config'=>'网站配置']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['Category'=>'栏目缓存']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['Table'=>'数据表缓存']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['rule'=>'规则表缓存']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['ueditor'=>'ueditor 暂存目录']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['temp'=>'临时目录']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['sdk_config'=>'第三方登录缓存']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['runtime'=>'运行目录（runtime）']])}
	{:widget('Widgets/form', ['type'=>'checkbox','name'=>'action','value'=>'Config','datalist'=>['other'=>'其它项']])}
	<div class="layui-form-item" pane="">
        <div class="layui-input-block">
        	<div class="showstatus" style="color: #666;"></div>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item" pane="">
        <div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" type="submit">更新缓存</button>
			<a class="layui-btn layui-btn-sm reset" href="javascript:;">重置更新缓存</a>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">

$(function(){
	var storage   = window.localStorage;  // html5 本地存储对象
	var input_index;

	$('body').find('input[type="checkbox"]').each(function(index, el) {
		var _html = '<div class="status"><i class="layui-icon status-loading">&#xe63d;</i><i class="layui-icon status-ok">&#xe605;</i></div>';
		$(this).closest('.layui-input-block').append(_html);
	});

	// storage.removeItem('input_index');
	storage.setItem('input_index',0);
	storage.setItem('reset',0);

	$('form button[type="submit"]').on('click',function(e){
		e.preventDefault();
		var _self  = $(this);
		var _form  = _self.closest('form');
		var _url   = _form.prop('action');
		var _data  = _form.serialize();
		var showstatus  = $('.showstatus');
		var _html;

		if(storage.getItem('reset')==1){
			$('body').find('div.status>i.status-ok').hide();
			storage.setItem('reset',0);
		}
		
		input_index  = parseInt(storage.getItem('input_index'));
		console.log(input_index);
		$('body').find('input[type="checkbox"]:checked').eq(input_index).siblings('div.status').find('i.status-loading').show();

		_html = '<i class="layui-icon" style="color:#5FB878">&#xe63d;</i> 正在操作';
		_html = _html + $('body').find('input[type="checkbox"]:checked').eq(input_index).siblings('div.layui-form-checkbox').find('span').text();
		console.log(_html);
		showstatus.html(_html);
		$.ajax({
			type:'post',
			url:_url,
			data:_data,
			dataType:'json',
			befor:function(){

			},
			success:function(data){
				console.log(data);
				if(data.code){
					_html  = '<p>'+data.msg+'</p>';
					$('body').find('input[value="' + data.data.type + '"]').siblings('div.status').find('i.status-loading').hide();
					$('body').find('input[value="' + data.data.type + '"]').siblings('div.status').find('i.status-ok').fadeIn();
					// showstatus.html(_html);
					storage.setItem('input_index',input_index + 1);
					if(!data.data.end){
						setTimeout(function () {
							_self.click();
						}, 200);
					}
					if(data.data.end){
						storage.setItem('input_index',0);
						storage.setItem('reset',1);
						showstatus.html(_html);
					}
				}else{
					var _html  = '<p>'+data.msg+'</p>';
					showstatus.html(_html);
					storage.setItem('input_index',0);
				}
			}
		});
		// alert(_url);
		return false;
	});

	$('body').on('click','.reset',function(){
		storage.setItem('input_index',0);
		storage.setItem('reset',0);
		$.ajax({
			type:'post',
			url:'{:url('resetcache')}',
			data:'',
			dataType:'json',
			success:function(data){
				console.log(data);
				if(data.code){
					layer.msg(data.msg);
					$('body').find('div.status>i').fadeOut();
					$('body').find('.showstatus').text('');
					storage.setItem('input_index',0);
				}else{
					
				}
			}
		});
	});
});
</script>
{/block}