{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<form action="{:url('renew')}" method="post" class="layui-form">
    {:widget('Widgets/form', ['type'=>'select','title'=>'顶级','name'=>'pid','value'=>$one.pid|$_pid,'elementid'=>'pid','datalist'=>$category])}
    {:widget('Widgets/form', ['type'=>'text','title'=>'类别标识','name'=>'name','value'=>$one.name,'elementid'=>'name','layverify'=>'required','placeholder'=>'规则名称'])}
    {:widget('Widgets/form', ['type'=>'text','title'=>'类别名称','name'=>'title','value'=>$one.title,'elementid'=>'title','layverify'=>'required','placeholder'=>'规则名称'])}
    {:widget('Widgets/form', ['type'=>'radio','title'=>'状态','name'=>'status','value'=>$one.status,'elementid'=>'status','datalist'=>[1 => '启用', 0 => '禁用'],'aux'=>'（启用|禁用开关）'])}
    {:widget('Widgets/form', ['type'=>'switch','title'=>'是否显示菜单','name'=>'menu','value'=>$one.menu,'elementid'=>'menu','aux'=>'是否显示菜单'])}
    {:widget('Widgets/form', ['type'=>'text','title'=>'url地址','name'=>'url','value'=>$one.url,'elementid'=>'url','placeholder'=>'url地址','inline'=>0])}
    {:widget('Widgets/form', ['type'=>'text','title'=>'排序','name'=>'sort','value'=>$one.sort,'elementid'=>'sort','placeholder'=>'排序'])}
    {:widget('Widgets/button', ['name'=>'id','value'=>$one.editid,'buttontext'=>'保存'])}
</form>

{/block}

{block name="script"}
<script type="text/javascript">
    

</script>
{/block}