{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<div id="news_box">
    {foreach $list as $vo}
    <div class="news_item">
        <div class='news_tools hide'>
            <a data-phone-view="{:url('@wechat/review')}?type=news&content={$vo.id}" href='javascript:void(0)'>预览</a>
            <a data-modal="{:url('push')}?id={$vo.id}" href='javascript:void(0)'>推送</a>
            <a data-open='{:url("edit")}?id={$vo.id}' href='javascript:void(0)'>编辑</a>
            <a data-news-del="{$vo.id}" href='javascript:void(0)'>删除</a>
        </div>
        {foreach $vo.articles as $k => $v}
        {if $k < 1}
        <div data-tips-image='{$v.local_url}' class='news_articel_item' style='background-image:url("{$v.local_url}")'>
            {if $v.title}<p>{$v.title}</p>{/if}
        </div>
        <div class="hr-line-dashed"></div>
        {else}
        <div class='news_articel_item other'>
            <div class='right-text'>{$v.title}</div>
            <div data-tips-image='{$v.local_url}' class='left-image' style='background-image:url("{$v.local_url}");'>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        {/if}
        {/foreach}
    </div>
    {/foreach}
    <div style="clear:both"></div>
    {if empty($list)}
    <p class="help-block">暂时无记录</p>
    {/if}
</div>
{if isset($page)}<p>{$page}</p>{/if}
{/block}