@charset "UTF-8";
/**
 * 
 * @authors SpringYang (ceroot@163.com)
 * @date    2017-01-18 10:12:56
 * @version $Id$
 */

@media(max-width: 768px){

	.bw-header{
		/*position: relative;*/
	}

    .logo,
    .sidebar-collapsed .logo {
		width: 100%;
	}

	.sidebar-expanded .bw-header .logo,
	.sidebar-collapsed .bw-header .logo {
		width: 50px
	}
	.bw-header .logo .logo-lg {
		display: none;
	}
	.bw-header .logo .logo-mini{
		display: block;
	}
	.sidebar-collapsed .bw-header .logo .logo-mini {
		display: block;
	}

	.navbar,
	.sidebar-expanded .navbar,
	.sidebar-collapsed .navbar{
		padding-left: 50px;
	}




    .sidebar-collapsed .bw-sidebar,
    .bw-sidebar{
    	width: 0;
    }

	.sidebar ul > li > dl >dt > a > span{}
	.sidebar ul > li > dl >dt > a > em{
		/*display: none;*/
	}

	.sidebar-collapsed .bw-wrapper,
	.bw-wrapper {
		margin-left: 0!important
	}

	.sidebar-collapsed .bw-wrapper .content-wrapper,
	.bw-wrapper .content-wrapper{
		padding-left: 0!important;
		margin-left: 0!important
	}
    
    .product-sidebar .product-sidebar-wrapper > dl > dt{ display: none; }
    .product-sidebar .product-sidebar-control{ display: none; }

    .sidebar-collapsed .product-sidebar,
	.product-sidebar{
		position: static;
		width: 100%;
		height: auto;
	}

	.sidebar-collapsed .product-sidebar-wrapper dl > dt > a,
	.product-sidebar-wrapper dl > dd > a{
		display: inline-block;
	}

	.content-main .content-header{ position: static; }
	.content-main .content-header .breadcrumb{ display: none; }

	.content-main .content-body{
		padding-top: 10px;
	}

	.fixed-bottom, .pager-wrapper{ padding-left: 5px; }

	.sidebar-collapsed .fixed-bottom .bottom-area{ padding-left: 0 }

	.copyright{ display: none; }
	.main-footer{ display: none; }

}
