{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<div class="table-item-search-area">
  <div class="search-area" style="float: right;">
    搜索ID：
    <div class="layui-inline">
      <input name="id" class="layui-input" data-like="1">
    </div>
     标识：
    <div class="layui-inline">
      <input name="name" class="layui-input" data-like="1">
    </div>
    <button class="layui-btn layui-btn-sm" data-type="search">搜索</button>
    <button class="layui-btn layui-btn-sm" data-type="allShow">全部</button>
  </div>
</div>
<table class="layui-hide" id="table_list" lay-filter="#table_list" data-url="{:url('lists')}">
  <thead>
    <tr>
      <th lay-data="{checkbox: true, fixed: true}"></th>
      <th lay-data="{field:'id',title:'ID', width:70, sort: true}">ID</th>
      <th lay-data="{field:'name',title:'行为唯一标识', width:200}">行为唯一标识</th>
      <th lay-data="{field:'title',title:'行为说明', width:120, sort: true}">行为说明</th>
      <th lay-data="{field:'remark',title:'行为描述', width:80}">行为描述</th>
      <th lay-data="{field:'log',title:'行为规则'}">行为规则</th>
      <th lay-data="{field:'type',title:'类型', width:60}">类型</th>
      <th lay-data="{field:'status',title:'状态', width:80, sort: true, toolbar: '#updatestatus'}"}">状态</th>
      <th lay-data="{fixed:'right', title:'操作', width:280, align:'center', toolbar: '#toolbar'}">操作</th>
    </tr>
  </thead>
</table>
{:widget('Widgets/updatestatus')}
{:widget('Widgets/tabletoolbar',['v'=>1,'e'=>1,'d'=>1])}
{/block}