{extend name="mould:base" /}
{block name="title"}{/block}
{block name="content"}
<div class="details-content">
    <form action="{:url('renew')}" method="post" class="form-horizontal cy-ajaxForm cy-form layui-form" role="form">
        {:widget('Widgets/form', ['type'=>'text','title'=>'用户名称','name'=>'username','value'=>$one.username,'elementid'=>'username','placeholder'=>'用户名称'])}
        {:widget('Widgets/form', ['type'=>'text','title'=>'昵称','name'=>'nickname','value'=>$one.nickname,'elementid'=>'nickname','placeholder'=>'昵称'])}
        {:widget('Widgets/form', ['type'=>'text','title'=>'真实姓名','name'=>'realname','value'=>$one.realname,'elementid'=>'realname','placeholder'=>'真实姓名'])}
        {:widget('Widgets/form', ['type'=>'email','title'=>'邮箱','name'=>'email','value'=>$one.email,'elementid'=>'email','placeholder'=>'邮箱'])}
        {:widget('Widgets/form', ['type'=>'mobile','title'=>'手机号','name'=>'mobile','value'=>$one.mobile,'elementid'=>'mobile','placeholder'=>'手机号'])}
        {:widget('Widgets/form', ['type'=>'radio','title'=>'状态','name'=>'status','value'=>$one.status,'elementid'=>'status','datalist'=>[1 => '启用', 0 => '禁用'],'aux'=>'（启用|禁用开关）'])}

        {:widget('Widgets/button', ['name'=>'id','value'=>$one.editid,'buttontext'=>'保存'])}


    </form>
</div>
{/block}
{block name="script"}

{/block}
