    <div class="layui-form-item">
    	{present name="wdata.title"}
            <label class="layui-form-label">
		        <label class="col-sm-12" for="name">{$wdata.title}</label>
            </label>
        {/present}
        <div class="layui-input-inline">
            <input type="password" class="layui-input" name="{$wdata.elementid}" id="{$wdata.elementid}" lay-verify="{$wdata.layverify}" autocomplete="off" placeholder="{$wdata.placeholder}">
        </div>
        {present name="wdata.aux"}
            <div class="layui-form-mid layui-word-aux">{$wdata.aux}</div>
        {/present}
    </div>