{switch name="wdata.radiotype" }
	{case value="0"}   
	    <div class="form-group form-group-sm">
	        <label class="col-sm-12" for="{$wdata.elementid}">{$wdata.title}</label>
	        <div class="col-sm-12">
	        	{volist name="wdata.datalist" id="radiolistvo"}
	        		<label class="radio-inline" style="padding-left: 0; padding-right: 10px">
	        			<input type="radio" class="magic-radio" name="{$wdata.elementid}" id="" value="{$key}" {present name="wdata.value"}{eq name='wdata.value' value='$key'} checked="checked"{/eq}{else /}{eq name='key' value='1'} checked="checked"{/eq}{/present}> 
	        			<span class="input-text">{$radiolistvo}</span>
		            </label>
	        	{/volist}		
	        </div>
	    </div>
	{/case}
	{case value="100"}

	{/case}
{default /}
    <div class="form-group form-group-sm form-inline">
        <div class="col-sm-12">
        	{present name="wdata.title"}
            	<label class="control-label">{$wdata.title}</label>
            {/present}
            <span class="form-control" style="border: 0; text-align: left;">
                <input type="checkbox" name="" value="" class="cy-switch {$wdata.radiostyle}" {present name="wdata.value"}{eq name='wdata.value' value='1'} checked="checked"{/eq}{else /}{present name="wdata.radiodefault"}{eq name='wdata.radiodefault' value="1" } checked="checked"{/eq}{else /} checked="checked"{/present}{/present} /><span class="lbl"></span>
                <input type="hidden" name="{$wdata.elementid}" value="{$wdata.value|default=1}" class="hidden">
            </span>
        </div>
    </div>
{/switch}