    <div class="layui-form-item">
        {present name="wdata.title"}
            <label class="layui-form-label">{$wdata.title}</label>
        {/present}
        <div class="{eq name="wdata.inline" value="1"}layui-input-inline{else /}layui-input-block{/eq}">
            {volist name="wdata.datalist" id="vo"}
                <input type="radio" name="{$wdata.name}" value="{$key}" title="{$vo}"
                    {php}
                        if(isset($wdata['value'])){
                            if($wdata['value'] == $key){
                                echo 'checked';
                            }
                        }else{
                            if($i == 1){
                                echo 'checked';
                            }
                        }
                    {/php}
                />
            {/volist}
        </div>
        {if condition="$wdata.aux"}
            <div class="layui-form-mid layui-word-aux">
                {$wdata.aux}
            </div>
        {/if}
    </div>