{extend name="mould:base" /}
{block name="title"}{$data.title} - Bing每日图片欣赏{/block}
{block name="author"}{/block}
{block name="keywords"}{/block}
{block name="description"}{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/bw.bing.css">
{/block}
{block name="content"}
	<div class="details">
		<div class="container">
			<nav aria-label="breadcrumb" role="navigation">
			  	<ol class="breadcrumb">
				    <li class="breadcrumb-item"><i class="fa fa-home"></i><a href="/">首页</a></li>
				    <li class="breadcrumb-item"><i class="fa fa-file-image-o"></i> <a href="/bing">Bing 每日图片欣赏</a></li>
				    <li class="breadcrumb-item active" aria-current="page">正文</li>
			  	</ol>
			</nav>
		</div>
		<div class="container">
			<h4 class="text-center">{$data.title}</h4>
			<div class="title-item">
				<i class="fa fa-clock-o fa-fw" title="发布时间"></i>{$data.datesign|strtotime|date='Y-m-d'}&nbsp;&nbsp;<i class="fa fa-eye fa-fw" title="浏览次数"></i> {$data.viewcount}&nbsp;&nbsp;<i class="fa fa-download fa-fw" title="下载次数"></i>{$data.downcount}{notempty name="$data.item_ttl"}&nbsp;&nbsp;<i class="fa fa-deaf fa-fw" title=""></i>{$data.item_ttl}{/notempty}{notempty name="$data.author"}&nbsp;&nbsp;<i class="fa fa-copyright fa-fw" title="版权"></i>{$data.author}{/notempty}（图片来源于必应搜索） 
			</div>
			<div class="jumbotron description">
			  	<p class="lead">{$data.description}</p>
			</div>
			<div class="mb-3 text-center">
				<img class="big lazyload" data-src="{$imgbaseurl}{$data.datesign|strtotime|date='Y/m/d'}/{$data.newname}" src="{$imgbaseurl}default.gif" alt="{$data.title}">
			</div>
			<p class="text">{$data.description}</p>
			{notempty name="$data.first"}
				<h6>{$data.first.title}&nbsp;<small>{$data.first.resume}</small></h6>
				<p class="text">{$data.first.description}</p>
				<p class="img">
					<img class="lazyload mx-auto d-block" data-src="{$imgbaseurl}{$data.datesign|strtotime|date='Y/m/d'}/{$data.first.img}" src="{$imgbaseurl}default.gif" alt="{$data.first.title}|{$data.first.resume}"/>
					<small>{$data.item_tt}，{$data.item_ts}</small>
				</p>
			{/notempty}
			{notempty name="$data.brief"}
				{foreach name="$data.brief" item="brief"}
					<h6>{$brief.title}</h6>
					<p class="text">{$brief.description}</p>
				{/foreach}
			{/notempty}
			{notempty name="$data.details"}
				{foreach name="$data.details" item="brief"}
					<h6>{$brief.title}&nbsp;<small>{$brief.resume}</small></h6>
					<p class="img"><img class="lazyload mx-auto d-block" data-src="{$imgbaseurl}{$data.datesign|strtotime|date='Y/m/d'}/{$brief.img}" src="{$imgbaseurl}default.gif" alt="{$brief.title}|{$brief.resume}"></p>
					<p class="text">{$brief.description}</p>
				{/foreach}
			{/notempty}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center mt-4">
						下载壁纸：
						<a class="btn btn-primary btn-sm btn-info" href="{:url('index/Bing/download',['id'=>authcode($data.id),'i'=>authcode('./data/bingwallpaper/'.date(\'Y/m/d\',strtotime($data.datesign)).'/'.$data.newname),'w'=>'1920x1080'])}" title="下载 1920x1080">1920x1080</a>
						<a class="btn btn-primary btn-sm btn-info" href="{:url('index/Bing/download',['id'=>authcode($data.id),'i'=>authcode('./data/bingwallpaper/'.date(\'Y/m/d\',strtotime($data.datesign)).'/'.$data.newname),'w'=>'1440x900'])}" title="下载 1440x900">1440x900</a>
						<a class="btn btn-primary btn-sm btn-info" href="{:url('index/Bing/download',['id'=>authcode($data.id),'i'=>authcode('./data/bingwallpaper/'.date(\'Y/m/d\',strtotime($data.datesign)).'/'.$data.newname),'w'=>'1366x768'])}" title="下载 1366x768">1366x768</a>
					</div>
				</div>
				<div class="w-100 mt-4"></div>
				<div class="col-6">
					{if condition="is_numeric($data.previd)"}
						<a href="{:url('index/Bing/details',['id'=>authcode($data.previd)])}" title="上一个"><i class="fa fa-angle-left fa-fw"></i>上一个</a>
					{else }
						<span class="previ-next-tips">{$data.previd}</span>
					{/if}
				</div>
				<div class="col-6">
					<span class="pull-right">
						{if condition="is_numeric($data.nextid)"}
							<a href="{:url('index/Bing/details',['id'=>authcode($data.nextid)])}" title="下一个">下一个<i class="fa fa-angle-right fa-fw"></i></a>
						{else }
							<span class="previ-next-tips">{$data.nextid}</span>
						{/if}
					</span>
				</div>
			</div>
		</div>
	</div>
	{notempty name="$groom"}
		<div class="container groom-area">
			<h5 class="mt-3">壁纸推荐</h5>
			<div class="row">
		  		{volist name='groom' id='lists'}
			    	<div class="col-6 col-md-3">
			    		<div class="box-area">
				    		<div class="box-content">
				    			<div class="box-body">
					    			<div class="img-box">
							    	  	<a href="{:url('index/Bing/details',['id'=>authcode($lists.id)])}" target="_blank" title="{$lists.title}">
								    		<img class="lazyload" data-src="{$imgbaseurl}{$lists.datesign|strtotime|date='Y/m/d/'}{$lists.newname}" src="{$imgbaseurl}default.gif" alt="{$lists.title}" />
								    	</a>
							    	</div>
							    	{notempty name="$lists.item_ttl"}<small><i class="fa fa-deaf fa-fw" title=""></i>{$lists.item_ttl}</small>{/notempty}
							    	<h6>
							    		<a href="{:url('index/Bing/details',['id'=>authcode($lists.id)])}" target="_blank" title="{$lists.title}">{$lists.title}</a>
							    	</h6>
							    </div>
						    	<div class="box-footer">
						    		<i class="fa fa-eye fa-fw"></i> {$lists.viewcount}
						    		<span class="pull-right"><i class="fa fa-clock-o fa-fw" title="发布时间"></i> {$lists.datesign|strtotime|date='Y-m-d'}</span>
						    	</div>
						    </div>
						</div>
		    	</div>
		    	{/volist}
	    	</div>
		</div>
	{/notempty}
{/block}
{block name="script"}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="__LIBS__/lazyload/2.x/lazyload.min.js"></script>
<script type="text/javascript">
	$(function(){
		//https://appelsiini.net/projects/lazyload/
		lazyload();
	});
</script>
{$Think.config.statistics_code|raw}
{/block}