<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>bing 每日图片欣赏</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="__LIBS__/bootstrap/4.0.0/css/bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="__LIBS__/font-awesome/4.7.0/css/font-awesome.min.css" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/bw.bing.css">
</head>
<body>
<div class="container">
	<nav aria-label="breadcrumb" role="navigation">
	  	<ol class="breadcrumb">
		    <li class="breadcrumb-item"><i class="fa fa-home"></i><a href="/">首页</a></li>
		    <li class="breadcrumb-item"><i class="fa fa-file-image-o"></i> Bing 每日图片欣赏</li>
	  	</ol>
	</nav>
</div>
<div class="container">
	<div class="bing-area">
		<div class="row">
	  		{volist name='list' id='lists'}
		    	<div class="col-12 col-md-4">
		    		<div class="box-area">
			    		<div class="box-content">
			    			<div class="box-body">
				    			<div class="img-box">
						    	  	<a href="{:url('index/Bing/details',['id'=>$lists.id])}" target="_blank" title="{$lists.title}">
							    		<img class="lazyload" data-src="{$imgbaseurl}{$lists.datesign|strtotime|date='Y/m/d/'}{$lists.newname}" src="./data/bingwallpaper/default.gif" alt="{$lists.title}" />
							    	</a>
						    	</div>
						    	{notempty name="$lists.item_ttl"}<small><i class="fa fa-deaf fa-fw" title=""></i>{$lists.item_ttl}</small>{/notempty}
						    	<h6>
						    		<a href="{:url('index/Bing/details',['id'=>$lists.id])}" target="_blank" title="{$lists.title}">{$lists.title}</a>
						    	</h6>
						    </div>
					    	<div class="box-footer"><i class="fa fa-eye fa-fw"></i> {$lists.viewcount}&nbsp;&nbsp; <i class="fa fa-download fa-fw"></i> {$lists.downcount}
					    		<span class="pull-right"><i class="fa fa-clock-o fa-fw" title="发布时间"></i> {$lists.datesign|strtotime|date='Y-m-d'}</span>
					    	</div>
					    </div>
					</div>
		    	</div>
	    	{/volist}
		</div>
	</div>
</div>
<div class="container" style="overflow: hidden; overflow-x: auto;"><nav aria-label="Page navigation">{$page|raw}</nav></div>
<div class="container-full">
	<footer class="mt-4 mt-4 text-center">
		<a href="/" title="笨翁">笨翁</a>
	</footer>
</div>
</body>
<script type="text/javascript" src="__LIBS__/jquery/jquery-3.2.1.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="__LIBS__/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LIBS__/lazyload/2.x/lazyload.min.js"></script>
<script type="text/javascript">
	$(function(){
		//https://appelsiini.net/projects/lazyload/
		lazyload();
	});

	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?9d431989a95c98f4e1d5353cadad4487";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</html>