@charset "UTF-8";
/**
 * 
 * @authors SpringYang (ceroot@163.com)
 * @date    2017-01-18 10:12:56
 * @version $Id$
 */
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
	
    .sidebar ul > li > dl > dt > a{
    	margin-right: 0;
    }
	.sidebar-collapsed .sidebar ul > li > a {
		margin-right: 0;
	}

	.sidebar-collapsed .sidebar ul > li > dl > dt > a > span,
	.sidebar-collapsed .sidebar ul > li > dl > dt > a > em,
	.sidebar-collapsed .sidebar ul > li > dl > dd {
		display: none !important;
		-webkit-transform: translateZ(0);
	}

	.sidebar-collapsed .copyright{
		left: -180px;
	}

}